{% extends "base.html" %}

{% block title %} About {% endblock title %}

{% block content %}

    {% if not user.is_authenticated  %}
        <br>
        <a href="{% url 'home' %}" class="btn btn-secondary">Go Back</a>
    {% endif %}

    <div class="align-middle" style="color: #4caf50; font-style: bold; font-size: 3rem;">IMS</div>
    <div class="align-middle" style="color: rgb(73, 73, 73)">DM Inventory Management System</div>
    <br><br>

    <div class="align-middle">
        <h2 style="color:#4caf50">| About |</h3> <br>
            <p>
                DM IMS is a simple inventory management web application created for the basic stock management requirements of a company.
                The software is capable of keeping track of incoming and outgoing stock with dynamically rendered bills.
                Each supplier is provided with a profile where they can see the history of their transactions with the company.
            </p>
        <br>
    </div>
        <h2 style="color:#4caf50" class="align-middle">| Features |</h2> <br>
            <ul style="display:table; margin:0 auto; ">
                <li style="color:#494949;">Interactive Chart to display current available stock</li>
                <li style="color:#494949;">Stock maintenance</li>
                <li style="color:#494949;">Incoming transactions done through purchases</li>
                <li style="color:#494949;">Outgoing transactions done through sales</li>
                <li style="color:#494949;">Record of all transactions performed</li>
                <li style="color:#494949;">Dynamically rendered bills for each transaction</li>
                <li style="color:#494949;">Maintenance of separate profiles for suppliers</li>
            </ul>
        <br>
    <div class="align-middle">
        <h2 style="color:#4caf50" >| Developer |</h3> <br>
            <p>Dimitry Meli</p>
            <br><br><br>
    </div>

{% endblock content %}